//
   //Created by Jazz on 7/9/2016.
div.bg-white
    div(style='margin-top:-5%;box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.8);')
        h1.center-text(style='padding-top:4%') Add a New Case
        h3.center-text Case Title
            textarea.center-button(rows="1" cols="100" , placeholder='Give your case a title',style='width:60%')
            h3.center-text Case Description
            textarea.center-button(rows="5" cols="100", placeholder='Give your case some description',style='width:60%')
        br
        button.btn.btn-primary.sharp#grow(style='margin-left:40%;margin-bottom:10%;display:inline-block;height:4em;width:8em' ) Continue
        a.btn.btn-danger.center-button.sharp#grow(role='button' , href='/home' ,style='margin-bottom:10%;margin-left:3%;height:4em;display:inline-block;width:8em;padding-top:1%') Back
