//
   Created by Jazz on 6/19/2016.

div
    h3(class='animated fadeInLeft',style='text-align:center') Enter Your Password
    input.form-control.center(class='animated fadeInLeft',style='width:30%;height:4em',ng-model='password' , placeholder='Password')
    br
    a.btn.btn-primary.center-button.btn-lg#grow(class='animated fadeInLeft',role='button',ng-click='auth()', style='width:10%') Send
