//
   Created by Jazz on 7/12/2016.

//
   Created by Jazz on 7/12/2016.

//
   //Created by Jazz on 7/9/2016.
div.bg-white
    div(style='margin-top:-5%;box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.8);')
        h1.center-text(style='padding-top:4%') Team Members
        a.btn.btn-info.center-button.sharp#grow(role='button' , href='/adddepartment' ,style='height:4em;width:8.6em;padding-top:1%;margin-bottom:2%') Add department
        span(style='margin-right:1%;margin-left:5%') Search :
        input(type='text', ng-model='search.deptname' , placeholder='Name')
        button.btn.btn-primary#grow(ng-click='search = undefined',style='margin-left:3%') Clear filter
        table.table.table-responsive(class='animated fadeIn', ng-class='dynclass')
            thead
                tr
                    th(style='text-align:center;width:30%') Departments

            tbody#tab
                tr.add-room(ng-repeat='department in departments | filter : search')
                    td(style='text-align:center')
                        a#grow( style='color:black',href='/department/{{department.deptname}}') {{department.deptname}}



