//
   Created by Jazz on 7/12/2016.

//
   Created by Jazz on 7/9/2016.
div
    div.bg-white(class='row')
        div(class='col-lg-2 visible-lg-block', style='height:400px;margin-left:3%;  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.8);')
            br
            h4.center-text Manager's tab 1
        div.center(class='col-lg-7 col-sm-12'  , style='margin-right:1%;margin-left:1% ;height:700px ; box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.8);')
            br
            h3.center-text Manager's portal
            h4.center-text welcome {{user.username}}
        div(class='col-lg-2 visible-lg-block', style='height:400px;  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.8);')
            br
            h4.center-text Manager's tab 2